<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
			<mapper resource="./com/sy/pojo/AdminInfoMapper.xml"/>
			<mapper resource="./com/sy/pojo/DishesTypeMapper.xml"/>	
			<mapper resource="./com/sy/pojo/DishesMapper.xml"/>					
	</mappers>
</configuration>